:root {
--font-color: #97B2FF;
--bg-color: #2f3145;
}

* {
    background-color: var(--bg-color);
    color: var(--font-color);
}

body {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
  }
  
h1 {
    font-size: 2.5rem; 
  }

h3 {
    padding: 15px;
}

header {
    padding: 40px;
    text-align: center;
  }

main{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    place-items: center;
}

article {
    border: 2px dashed var(--font-color);
    border-radius: .5em;
    padding: 5px;
    margin: 25px;
    width: 300px;
}



article h2 {
    border: 2px solid var(--font-color);
    text-align: center;
    position: relative;
    padding: 5px;
    bottom: 19px;
}

article aside {
    text-align: center;
    
}

article pre code {
    text-align: center;
    position: relative;
    bottom: -30px;
    
    display: block;
    
}

article pre code {
    /* border: 2px solid var(--font-color); */
    border-radius: 1em;
    text-align: left;
    position: relative;
    padding: 1px;
    display: block;
    font-family: monospace;
    background-image: linear-gradient(
        rgba(92, 97, 183, 0.3) 0%,
        rgba(57, 60, 112, 0.6) 100%
        );    
}

@media screen and (max-width: 1024px) {
    main{
        display: grid;
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 768px) {
    main{
        display: grid;
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
    }
}