:root {
--color-1: #72A98F;
--color-2: #2B50AA;
--color-3: #F0Eff4;
--color-4: #000F08;
--color-5: #56667A;
}

* {
    font-family: Tahoma;
}

body {
    background-color: var(--color-3);
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-5);
    color: var(--color-2);
}

h1 {
    font-size: 38px;
    margin-top: 2%;
    margin-left: 5%;
}

nav {
    display: flex;
}

li {
    list-style: none;
    padding: 30px;
    padding-top: 20%;
    /* background-image: url("/assets/images/Ama\ Dablam.JPG") */   
}

nav a {
    text-decoration: none;
    color: var(--color-4)
}

li a:hover {
    color: var(--color-3);
}

div {
    height: 300px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("/assets/images/Ama\ Dablam.JPG");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: row-reverse; 
    justify-content: baseline;   
    align-items:flex-end;
}

h2 {
    font-size: 22px;;
    padding: 2%;
    margin: 2%;
    background-color: var(--color-5);
    color: var(--color-2)
}

main {
    /* border: 3px solid blue; */
}

section {
    display: flex;
    flex-direction: row;
    justify-content:center;
    /* border: 3px solid green; */
    padding: 10px;
    
}

aside {
    border-right: 2px solid var(--color-4);
    font-size: 38px;
    width: 15%;
    /* border: 3px solid red; */
    text-align: right;
    margin: 40px;
}


summary {
    /* border: 3px solid purple; */
    width: 60%;
    padding: 30px;
}

@media screen and (max-width: 1000px) {
    header {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    h1 {
        margin: 2%;
    }

    li {
        list-style: none;
        padding: 30px;
    }

    section {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 0px
    }

    aside {
        border-bottom: 2px solid var(--color-4);
        text-align: left;
        margin: 10px;
        border-right: none;
        padding: 5px;
    }

    summary {
        width: 90%;
        margin: 10px;
      padding: 5px;
    }