:root {
--color-1: #72A98F;
--color-2: #2B50AA;
--color-3: #F0Eff4;
--color-4: #000F08;
--color-5: #56667A;
}

* {
    font-family: Tahoma;
}

body {
    background-color: var(--color-3);
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-5);
    color: var(--color-2);
}

h1 {
    font-size: 38px;
    margin-top: 2%;
    margin-left: 5%;
}

nav {
    display: flex;
}

header li {
    list-style: none;
    padding: 30px;
    padding-top: 20%;
}

nav a {
    text-decoration: none;
    color: var(--color-4)
}

header a:hover {
    color: var(--color-3);
}

div {
    height: 300px;
    width: 100%;
    margin-bottom: 35px;
    background-image: url("../images/amadablam.JPG");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: row-reverse;  
    align-items:flex-end;
}

#headshot {
    position: relative;
    height: 60%;
    padding: .2%;
    margin: 2%;
    background-color: var(--color-5);
    color: var(--color-2);
    border-radius: 100%;
    top: 90px;
}

section {
    display: flex;
    flex-direction: row;
    padding: 1%;
}

aside {
    display: inline;
    border-right: 2px solid var(--color-4);
    font-size: 38px;
    width: 150px;
    text-align: right;
    margin-top: 1%;
    margin-left: 150px;
    margin-right: 4%;
    padding-right: 2%;
}

#projects {
    width: 200px;
    margin-left: 138px;
}

summary {
    width: 63%;
    margin: 1%;
    line-height: 1.2em;
    text-align: justify;
}

article {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

figure {
    margin: 2%;
}

a{
    text-decoration: none;
}

figure img, a img {
    width: 300px;
    height: 150px;
    object-fit: cover;
    border: 3px solid var(--color-5)    
}

#puppyphoto {
    object-position: 0px -13px;
}

figure img:hover, a img:hover, img +h4:hover {
    opacity: 50%;
    color: var(--color-3);
}

h4 {
    display:inline-block;
    position: relative;
    right: 305px;
    bottom: 13px;
    background-color: var(--color-5);
    color: var(--color-4);
}

#contactme nav li {
    list-style: none;
    margin: 10%;
    margin-right: 20%; 
}

#contactme nav li a:hover {
    color: var(--color-1);
}

footer {
    margin-top: 3%;
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 1230px) {
    figure, article a {
        max-width: 70%;
        max-height: 50%;
        padding-right: 300px;
        padding-top: 150px;
        padding-bottom: 20px;
        background-size: cover;
        background-position: center;
        border: 3px solid var(--color-5);
        margin: 20px;
        text-decoration: none;
        color: var(--color-4);
    }

    article a h4, article a h6 {
        width: 100px;
    }
}

@media screen and (max-width: 1000px) {
    
    header{
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    
    h1 {
        margin: 2%;
    }

    header li {
        list-style: none;
        padding: 30px;
    }

    section {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 0px
    }

    aside, #projects {
        border-bottom: 2px solid var(--color-4);
        text-align: left;
        margin: 10px;
        border-right: none;
        padding: 5px;
    }

    article {
        justify-content: center;
      align-items: center;
    }

    summary {
        width: 90%;
        margin: 10px;
      padding: 5px;
    }

    #contactme nav {
        flex-direction: column;
        align-items: left;
    }

    figure, article a {
        max-width: 70%;
        max-height: 50%;
        padding-right: 300px;
        padding-top: 150px;
        padding-bottom: 20px;
        background-size: cover;
        background-position: center;
        border: 3px solid var(--color-5);
        margin: 20px;
        text-decoration: none;
        color: var(--color-4);
    }

    article a h4, article a h6 {
        width: 100px;
    }
}